
/* light */
:root {
    --sidbar-width: 12em;

    --color-fg: #000000;
    --color-fg-03: rgba(0, 0, 0, 0.03);
    --color-fg-04: rgba(0, 0, 0, 0.04);
    --color-fg-05: rgba(0, 0, 0, 0.05);
    --color-fg-08: rgba(0, 0, 0, 0.08);
    --color-fg-10: rgba(0, 0, 0, 0.10);
    --color-fg-15: rgba(0, 0, 0, 0.15);
    --color-fg-35: rgba(0, 0, 0, 0.35);
    --color-fg-45: rgba(0, 0, 0, 0.45);
    --color-fg-55: rgba(0, 0, 0, 0.55);
    --color-fg-65: rgba(0, 0, 0, 0.65);
    --color-fg-75: rgba(0, 0, 0, 0.75);

    --color-bk: #F3F3F3;
    --color-bk-header: transparent;
    --color-bk-sidebar: #757046;
    --color-bk-select-list: #f3f7ed;

    --color-wrapper-alt: #F2F2F2;
    --color-wrapper-style1: #e9edc9;
    --color-wrapper-style2: #fafcf0;
    --color-wrapper-style3: #faedcd;
    --color-wrapper-style1-alt: #e2e2e2;
    --color-wrapper-style2-alt: #c4c1af;
    --color-wrapper-style3-alt: #dda15e;

    --color-sidebar-nav-a: #ffffff59;
    --color-sidebar-nav-a-hover: #ffffff9C;
    --color-sidebar-nav-a-active: #fafafa;

    --color-line-before: #645d1e;
    --color-line-left: #8fb82e;
    --color-line-right: #ff9900;
    --color-line-right2: #9b5f06;
    
    --color-blockquote: #606c38;

    --color-radio: #1c4a49;
    
}
